 html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to left, #2c3e50, #4ca1af);
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5em;
   
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #e74c3c;
}

.Sign-Up-Form {
    text-align: center;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 10px;  
}
